* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 40px;
}

li {
    list-style-type: none;
}

li a {
    display: block;
    line-height: 40px;
    width: 200px;
    text-indent: 20px;
    background-color: gold;
    text-decoration: none;
    color: black;
}

li a:hover {
    color: white;
    background-color: goldenrod;
}

.selected {
    color: white;
    background-color: goldenrod;
}